.serviceList {
    background: linear-gradient(180deg, #227F9C 0%, rgba(34, 127, 156, 0) 100%);
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid white;
}

.serviceList ::-webkit-scrollbar {
    display: none;
}

.serviceList ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 0;
}

.serviceList ul li {
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.individualService{
    width: 20vw;
    height: 20vw;
    border-radius: 100%;
    margin-bottom: 4vh;
}

#iS1{
    background: url(../../Images/Services/trekking.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iS2{
    background: url(../../Images/Services/water\ sports.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iS3{
    background: url(../../Images/Services/lodging.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iS4{
    background: url(../../Images/Services/sky\ diving.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iS5{
    background: url(../../Images/Services/cuisine.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iS6{
    background: url(../../Images/Services/transportation.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}

#iS7{
    background: url(../../Images/Services/guide.jpg) center;
    background-size: cover;
    background-repeat: no-repeat;
}